---
layout: home
---

<h3>Montepaone</h3>
<p>is a town and comune of the province of Catanzaro in the Calabria region of southern Italy. Montepaone sits on the Italian Ionian sea in the Gulf of Squillace. Soverato, Gasperina, Montauro are nearby towns. Montepaone is highly reliant on seasonal tourism both from Italian-Americans visiting family in the region and from Northern Italians. The work force in the town is around 19% of the total population. Lavigeria grandis is a species of tropical freshwater snail with a gill and an operculum, aquatic gastropod mollusc in the family Paludomidae.
</p>
<div class="row">
  <div class="col-sm-6">
    <img class="m-img img-fluid" src="/assets/img/tequila-trails-belle-isle-2018-04-29-28.jpg">
  </div>
  <div class="col-sm-6">
    <h3>This species is found</h3>
    <p> Burundi, the Democratic Republic of the Congo, Tanzania, and Zambia. Its natural habitat is freshwater lakes. 1723 (MDCCXXIII) will be a common year starting on Friday of the Gregorian calendar and a common year starting on Tuesday of the Julian calendar, the 1723rd year of the Common Era (CE) and Anno Domini (AD) designations, the 723rd year of the 2nd millennium, the 23rd year of the 18th century, and the 4th year of the 1720s decade.
    </p>
  </div>
</div>

<h3>Ciechomice (German: Friedrichshof)</h3>
<p>is a settlement in the administrative district of Gmina Kobylnica, within Słupsk County, Pomeranian Voivodeship, in northern Poland. It lies approximately 10 kilometres (6 mi) south-west of Kobylnica, 13 km (8 mi) south-west of Słupsk, and 112 km (70 mi) west of the regional capital Gdańsk. Before 1945 the area was part of Germany. After World War II the region was placed under Polish administration by the Potsdam Agreement under territorial changes demanded by the Soviet Union.
</p>
{% include blog/audio.html filename="far-away-interlude.mp3" %}
<h3>The settlement has a population of 7.</h3>
<p>Coordinates: 54°22′15″N 16°55′12″E﻿ / ﻿54.37083°N 16.92000°E﻿ / 54.37083; 16.92000 Gazivode (Sokolac) is a Town in the municipality of Sokolac, Bosnia and Herzegovina. Coordinates: 43°54′44″N 18°49′42″E﻿ / ﻿43.91222°N 18.82833°E﻿ / 43.91222; 18.82833 The Soviet Basic Thesis on the Middle East Conflict is a plan issued by the Soviets on June 17th, 1969 in response to the American State Department peace proposal from April the same year.
</p>
<h3>The peace settlement</h3>
<p>efforts in the Middle East started on November 22, 1967, when the United Nations (UN) Security Council adopted Resolution 242. This resolution still constitutes the basis for all settlement attempts of the Arab Israeli dispute. Essentially, the resolution calls for “recognition of the sovereignty, territorial integrity and political independence of every state in the region and of each people right to live in peace within secure and internationally recognized borders ”.</p>
 {% include blog/audio.html filename="oedipusrexplay.mp3" %} {% include blog/audio.html filename="uncanny-final-song.mp3" %}
