<header class="default-header">
	<div class="">
		<div class=""><a href="/"><img class="img-fluid default-header-photo" src="/assets/img/max-wirt.jpg" alt="An artistic picture of Max Wirt"></a></div>
		<h1 class="home-title">Max Wirt Maximum Website</h1>
		<nav>
			<ul>
				<a href="/blog"><li class="nav-item">Blog</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">Tequila Trails</li></a>
				<a href="/about"><li class="nav-item">Sincerely Productions</li></a>
				<a href="/about"><li class="nav-item">Gold Paint Boy</li></a>
				<a href="/about"><li class="nav-item">Shattered Mirrors</li></a>
				<a href="/sample"><li class="nav-item">Katies Crossing</li></a>
				<a href="/about"><li class="nav-item">Websites I've Made</li></a>
				<a href="/about"><li class="nav-item">Video Loop Feedback</li></a>
				<a href="/about"><li class="nav-item">Video Booth</li></a>
				<a href="/about"><li class="nav-item">Detroit DIY</li></a>
				<a href="/about"><li class="nav-item">Great Lakesmen</li></a>
				<a href="/about"><li class="nav-item">I Love You Charles</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/blog"><li class="nav-item">Blog</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">Tequila Trails</li></a>
				<a href="/about"><li class="nav-item">Sincerely Productions</li></a>
				<a href="/about"><li class="nav-item">Gold Paint Boy</li></a>
				<a href="/about"><li class="nav-item">Shattered Mirrors</li></a>
				<a href="/about"><li class="nav-item">Katies Crossing</li></a>
				<a href="/about"><li class="nav-item">Websites I've Made</li></a>
				<a href="/about"><li class="nav-item">Video Loop Feedback</li></a>
				<a href="/about"><li class="nav-item">Video Booth</li></a>
				<a href="/about"><li class="nav-item">Detroit DIY</li></a>
				<a href="/about"><li class="nav-item">Great Lakesmen</li></a>
				<a href="/about"><li class="nav-item">I Love You Charles</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
			</ul>
		</nav>
	</div>	
</header>