<header id="mySidenav" class="default-header">
	<div class="default-header-inner">
		<div class=""><a href="/"><img class="img-fluid default-header-photo" src="/assets/img/max-wirt.jpg" alt="An artistic picture of Max Wirt"></a></div>
		<div id="menu">
		<h1 class="home-title">Max Wirt Maximum Website</h1>
		<p class="email">me@maxwirt.com</p>
		<ul class="social-icons">
			<a target="_blank" href="https://www.facebook.com/max.wirt.3"><li><span><i class="fab fa-facebook"></i></span></li></a>
			<a target="_blank" href="https://www.instagram.com/sincerelytv/"><li><span><i class="fab fa-instagram"></i></span></li></a>
			<a target="_blank" href="https://twitter.com/goldpaintboy"><li><span><i class="fab fa-twitter"></i></span></li></a>
			<a target="_blank" href="https://github.com/mwirt/"><li><span><i class="fab fa-github"></i></span></li></a>
		</ul>
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<nav class="site-navigation">
			<ul>
				<a href="/blog"><li class="nav-item">Blog{% include emoji.html emoji="notebook" %}</li></a>
				<a href="/about"><li class="nav-item">About Me{% include emoji.html emoji="slightly_smiling_face" %}</li></a>
				<a href="/tequilatrails"><li class="nav-item">Tequila Trails{% include emoji.html emoji="bicyclist" %}</li></a>
				<a href="/sincerely"><li class="nav-item">Sincerely Productions{% include emoji.html emoji="movie_camera" %}</li></a>
				<a href="/goldpaintboy"><li class="nav-item">Gold Paint Boy{% include emoji.html emoji="guitar" %}</li></a>
				<a href="/shatteredmirrors"><li class="nav-item">Shattered Mirrors{% include emoji.html emoji="cat" %}</li></a>
				<a href="/katiescrossing"><li class="nav-item">Katies Crossing{% include emoji.html emoji="female-detective" %}</li></a>
				<a href="/webdesign"><li class="nav-item">Web Design{% include emoji.html emoji="male-technologist" %}</li></a>
				<a href="/videoloop"><li class="nav-item">Video Loop Feedback{% include emoji.html emoji="video_camera" %}</li></a>
				<a href="/videobooth"><li class="nav-item">Video Booth{% include emoji.html emoji="tv" %}</li></a>
				<a href="/detroitdiy"><li class="nav-item">Detroit DIY</li></a>
				<a href="/greatlakesmen"><li class="nav-item">Great Lakesmen</li></a>
				<a href="/iloveyoucharles"><li class="nav-item">I Love You Charles{% include emoji.html emoji="dog" %}</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
				<a href="/about"><li class="nav-item">About Me</li></a>
			</ul>
		</nav>
	</div>
	</div>
</header>