---
layout: image
title: Video Loops
share-image:
background-image: tile4.jpg
post-header-image:
post-tagline:
date:
---
<div class="container">
	<h2 class="video-heading">Video Feedback Loops</h2>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/224018305" %}</div>
<div class="video-details">
	<h3 class="video-title">Turkey Dinner</h3>
	<p>A VHS tape was mixed in with a video loop using a video mixing board with effects.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674227" %}</div>
<div class="video-details">
	<h3 class="video-title">Max #1</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674321" %}</div>
<div class="video-details">
	<h3 class="video-title">Shapes</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674356" %}</div>
<div class="video-details">
	<h3 class="video-title">Shelby</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674436" %}</div>
<div class="video-details">
	<h3 class="video-title">Max #2</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674489" %}</div>
<div class="video-details">
	<h3 class="video-title">Max #3</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674543" %}</div>
<div class="video-details">
	<h3 class="video-title">Sean</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674623" %}</div>
<div class="video-details">
	<h3 class="video-title">Sally #1</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674724" %}</div>
<div class="video-details">
	<h3 class="video-title">Mike</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238674820" %}</div>
<div class="video-details">
	<h3 class="video-title">Jenny</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675001" %}</div>
<div class="video-details">
	<h3 class="video-title">Lillie #1</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675123" %}</div>
<div class="video-details">
	<h3 class="video-title">Lillie #2</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675155" %}</div>
<div class="video-details">
	<h3 class="video-title">Lillie #3</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675301" %}</div>
<div class="video-details">
	<h3 class="video-title">Hand/Triangles</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675434" %}</div>
<div class="video-details">
	<h3 class="video-title">Sally #2</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="4by3" url="https://player.vimeo.com/video/238675624" %}</div>
<div class="video-details">
	<h3 class="video-title">Ian</h3>
	<p>Part of a series recorded at Shelby Turner's Birthday in 2016.</p>
</div>
<div class="video-padding">{% include video.html ratio="16by9" url="https://player.vimeo.com/video/148767708" %}</div>
<div class="video-details">
	<h3 class="video-title">Now That You're Gone</h3>
	<p>Short music video using a video loop and Panasonic MX50 mixing board.</p>
</div>
</div>
