---
layout: image
title: The Great Lakesmen
description:
share-image:
background-image: tile24.jpg
post-header-image:
post-tagline:
date:
---
<div class="container">
	<h2 class="video-heading">The Great Lakesmen</h2>
	<div class="row align-items-center">
		<div class="col">
	<div class="img-wrap"><img class="img-fluid centered" src="/assets/img/great-lakesmen.jpg"></div>
</div>
</div>
	<p class="main-video-description">The Great Lakesmen. Lost without their brother Supi(seen pictured above with the beard), trying to regain the success they had when they were filling arenas, football stadiums, hearts and minds of millions young and old. Trying to find it in the dive bars and senior centers they can only get booked at now. If only they could find Supi...</p>
	<div class="heading-wrap"><h3>Rare Demos</h3>
	<p><strong>All Tracks by The Great Lakesmen</strong></p>
	</div>
	<div class="audio-track randombg">
<p><i>Drivin'</i> - Written by Sean Hughes</p>
	<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-drivin.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Drawing You Out</i> - Written by Shelby Turner</p>
	<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-drawing-you-out.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>With My Friends Around</i> - Written by Max Wirt</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-with-my-friends-around.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Dreams</i> - Written by Derek Hain</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-dreams.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Hymn of the Great Lakes</i> - Written by Shelby Turner</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-hymn-of-the-great-lakes.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Find You (Song of the Mellotron)</i> - Written by Sean Hughes</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-i-will-find-you-song-of-the-mellotron.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Memories Along the Shore</i> - Written by Derek Hain</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-memories-along-the-shore.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Music Show</i> - Written by Shelby Turner</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-music-show.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Stand on the Sand(Instrumental)</i> - Written by Sean Hughes</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-stand-on-the-sand.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Hey Kid</i> - Written by Max Wirt</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-hey-kid.mp3" type="audio/mpeg">
</audio>
</div>
<div class="audio-track randombg">
	<p><i>Bully</i> - Written by Shelby Turner</p>
<audio class="audio-full-width" controls>
	<source src="/assets/audio/greatlakesmen/great-lakesmen-bully.mp3" type="audio/mpeg">
</audio>
</div>

<div class="video-padding">
	{% include video.html ratio="16by9" url="https://www.youtube.com/embed/Y42Jopvzy0o" %}
</div>
<div class="video-padding">
	{% include video.html ratio="16by9" url="https://www.youtube.com/embed/aG2S2S7C3uM" %}
</div>
<div class="video-heading">
	<h4>Hymn of the Great Lakes</h4>
</div>
<div class="hymn-text">
	<p>though these landlocked lands stretch far and wide<br>
	there are bodies great inside<br>
	and though either coast has much to boast<br>
	you won't find me by their side</p>

<p>with placid tides and choppy wake<br>
but water doesn't alone make<br>
one must walk on every inch of shore<br>
to know how great the lakes</p>

<p>from the city skylines at every port<br>
to the frosty woods up north<br>
to every vessel lost at lake<br>
and their brave crews died aboard</p>

<p>erie huron superior<br>
ontario michigan<br>
even to sing their names is not the same<br>
as to know how great the lakes</p>

<p>california's golden shores may call<br>
of florida sun i'm aware<br>
the only beach for me isn't by the sea<br>
for salt water i don't care</p>

<p>majestic dunes beneath my feet<br>
and cool wind in my hair<br>
a great lakesman i have always been<br>
and i'll always be there
	</p>
</div>
<div class="heading-wrap">
<h5 class="video-title">Photos by Mike Oleon</h5>
</div>
<div class=gl-gallery>
<div class="row align-items-center padded-row">
	<div class="col-md-8">
		<div class="row align-items-center">
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-3.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-3.jpg"></a></div>
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-4.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-4.jpg"></a></div>
		</div>
		<div class="row align-items-center padded-top">
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-7.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-7.jpg"></a></div>
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-10.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-10.jpg"></a></div>
		</div>
	</div>
	<div class="col-md-4"><a href="/assets/img/great-lakesmen/Great-Lakesmen-5.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-5.jpg"></a></div>
</div>
<div class="row align-items-center padded-row">
	<div class="col-md-4"><a href="/assets/img/great-lakesmen/Great-Lakesmen-6.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-6.jpg"></a></div>
	<div class="col-md-4"><a href="/assets/img/great-lakesmen/Great-Lakesmen-9.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-9.jpg"></a></div>
	<div class="col-md-4"><a href="/assets/img/great-lakesmen/Great-Lakesmen-8.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-8.jpg"></a></div>
</div>
<div class="row align-items-center padded-row">
	<div class="col-md-4"><a href="/assets/img/great-lakesmen/Great-Lakesmen-13.jpg" data-fancybox="gallery">
		<img src="/assets/img/great-lakesmen/Great-Lakesmen-13.jpg">
	</a>
	</div>
	<div class="col-md-8">
		<div class="row align-items-center">
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-11.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-11.jpg"></a></div>
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-12.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-12.jpg"></a></div>
		</div>
		<div class="row align-items-center padded-top">
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-14.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-14.jpg"></a></div>
			<div class="col-md-6"><a href="/assets/img/great-lakesmen/Great-Lakesmen-15.jpg" data-fancybox="gallery"><img src="/assets/img/great-lakesmen/Great-Lakesmen-15.jpg"></a></div>
		</div>
	</div>
</div>
</div>
<!--	{% include audio.html filename="greatlakesmen/great-lakesmen-drawing-you-out.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-hey-kid.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-hymn-of-the-great-lakes.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-i-will-find-you-song-of-the-mellotron.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-memories-along-the-shore.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-music-show.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-stand-on-the-sand.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-with-my-friends-around.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-bully.mp3" %}
	{% include audio.html filename="greatlakesmen/great-lakesmen-you-supis-song.mp3" %} -->
</div>