---
layout: image
title: Katies Crossing
description: Katies Crossing is a 5 episode mini-series about two Katies who cross paths. One Katie is hot on the trail of corruption by big biz hotdog manufacturer, Tina Beef. The other Katie is a young adult fiction writer having an existential crisis. When they meet, their lives are forever changed.
share-image:
background-image: tile22.jpg
post-header-image:
post-tagline:
date:
---
<div class="container">
	<h2 class="video-heading">Katies Crossing</h2>
	<p class="main-video-description">Katies Crossing is a five part mystery series I co-produced, co-directed, and co-edited. The story revolves around two Katies who find each other, like each other, and mysteriously transform each other.</p>
	<div class="video-padding">{% include video.html ratio="16by9" url="https://www.youtube.com/embed/x5a6GlDRZ-A" %}</div>
	<div class="video-details">
	<h3 class="video-title">Episode 1</h3>
	<p class="video-description">Katie meets Katie. Katie interviews a representative of the Tina Beef hot dog franchise. Katie reads some of her poetry.</p>
</div>
	<div class="video-padding">{% include video.html ratio="16by9" url="https://www.youtube.com/embed/Kc6fVibQQk4" %}</div>
	<div class="video-details">
	<h3 class="video-title">Episode 2</h3>
	<p class="video-description">Katie gets the scoop on the Trash Trojans corporation. Katie has band practice with her friend Karen. Katie meets with an old flame.</p>
</div>
	<div class="video-padding">{% include video.html ratio="16by9" url="https://www.youtube.com/embed/QoKIAcDPbcU" %}</div>
	<div class="video-details">
	<h3 class="video-title">Episode 3</h3>
	<p class="video-description">Katie visits The River League. Katie meets Phil at a farm party. Katie gets closer to the truth.</p>
</div>
	<div class="video-padding">{% include video.html ratio="16by9" url="https://www.youtube.com/embed/x5evqZO9Blg" %}</div>
	<div class="video-details">
	<h3 class="video-title">Episode 4</h3>
	<p class="video-description">Katie goes to her mother's house. Katie has a secret meeting. Katie gets in the river.</p>
</div>
	<div class="video-padding">{% include video.html ratio="16by9" url="https://www.youtube.com/embed/DkDzJlPtqoI" %}</div>
	<div class="video-details">
	<h3 class="video-title">Episode 5</h3>
	<p class="video-description">Katie is a guest on a young adult fiction talk show. Katie and Katie have coffee at Vicky's. Katie gets to the bottom of it all.</p>
</div>
<div class="kx-credits">
	<p>Sincerely Productions presents</p>

<h5>KATIES CROSSING</h5>
<p>a five part queer mystery miniseries</p>
<br>
<p>Directed by Sally Lawton and Max Wirt</p>
<p>Written by Sally Lawton, Katy Albert, Katie Williams and Max Wirt</p>
<p>Score by Sean Hughes</p>
<p>With Music by Lost Man and Kikagaku Moyo</p>
<br>
<p>Cast:</p>
<p>Katie: Katy Albert</p>
<p>Katie: Katie Williams</p>
<p>Sonia: Shelley Geiszler</p>
<p>Aria: Sierra Berquist</p>
<p>Tony Babel: Ian Bertorelli</p>
<p>Tina Beef: Sophia Hamilton</p>
<p>Karen/Vito: Ian Fullerton</p>
<p>Pia: Kathleen Soler</p>
<p>Mary Ann: Mary Alice Williams</p>
<p>Ms. Klink: Fontaine Capel</p>
<p>Stacy: Brianna Facione</p>
<p>Jackson: Dave Smith</p>
<p>Amanda Lee: Gita Jackson</p>
<p>Amanda's Mom: Tracey Ramsey</p>
<p>Phil: Max Wirt</p>
<p>Tina's Cousin: Adam Paul</p>
<p>Carl Gibbons: Shelby Turner</p>
<p>Tamara: Sally Lawton</p>
<p>Tree as himself</p>
<br>
<p>Trash Trojans:</p>
<br>
<p>Ruby Write</p>
<p>Rose Hannan</p>
<p>Celia Hannan</p>
<p>Sedona Coleman</p>
<p>Arianna Johnson</p>
<p>Laura Guadagnino</p>
<p>Grace Hilliard</p>
<p>Lili McLaughlin</p>
<br>
<p>"Welcome to Katies Crossing" (intro) and "Taxi" (farm party)</p>
<p>Written and Performed by Lost Man</p>
<br>
<p>"Trad" (canoe chase)</p>
<p>Written and Performed by Kikagaku Moyo</p>
<br>
<p>VERY VERY SPECIAL THANKS TO</p>
<br>
<p>The Plant Chicago</p>
<p>Moonlight Vulture</p>
<p>Orysia Ostap</p>
<p>Maya Demianczuk</p>
<p>Blair Bogin</p>
<p>Bits and Pieces</p>
<p>Elise Johnston</p>
<p>Patchwork Farms</p>
<p>Steve's Sports Bar</p>
<p>Jenny Stadler</p>
<p>Lost Man</p>
<p>Kikagaku Moyo</p>
<p>Ellyn Diko</p>
<p>Mike Oleon</p>
<p>Emily Eddy</p>
<p>The Wasteshed</p>
<p>Allison and Chris Deporter</p>
<p>Lili O'Connell and Mark Cigelski</p>
<p>and Chicago's DIY Community</p></p>
<br>
<p>Katies Crossing was filmed and edited from March 2016-October 2017 in Chicago, IL and Lakeside, MI.</p>
<p>We are so incredibly grateful for everyone's time and dedication who were involved with this project.</p>

</div>
</div>